:root {
  --color-button: #f5f4fa;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-black: #212121;
  --colombia-grey: #757575;
  --bg-hero: #2f303a;
  --bg-button: #2196f3;
  --bg-portafolio: #f5f4fa;
  --color-border: #ECECEC;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 14px;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img  {
  display: block;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* section header */

.border {
 border-bottom: 1px solid var(--color-border);
}
.header-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navbar {
  display: flex;
  margin-right: auto;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--color-blue);
  text-decoration: none;
}
.header-navbar .logo {
  margin-right: 93px;
  padding-bottom: 25px;
  padding-top: 24px;
}
.header-navmenu {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--color-black);
  text-decoration: none;
}
.header-navmenu-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--colombia-grey);
  text-decoration: none;
}
.header-link:hover,
.header-link:focus,
.header-itemlink:hover,
.header-itemlink:focus {
  color: var(--color-blue);
}
.header-contactmenu {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--colombia-grey);
  text-decoration: none;
}
.header-contactmenu-item {
  margin-left: auto;
}
.header-contactmenu-item:not(:last-child) {
  margin-right: 50px;
}

.header-itemlink {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--colombia-grey);
  text-decoration: none;
}
/* section hero */

.hero {
  background-color: var(--bg-hero);
  padding: 200px 0px;
}

.hero-container {
  text-align: center;
}
.hero-title {
  margin-right: auto; 
  margin-left: auto;
  margin-bottom: 30px;
  width: 696px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
.hero-button-primary {
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white);
  background: var(--bg-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

/* section features */

.features-description-container,.album-list,.service-list {
  display: flex;
  justify-content: space-between;
}
.features-description {
  width: 270px;
}
.features-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-black);
}
.features-parraf {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--colombia-grey);
}
.service-list {
  display: flex;
  justify-content: space-between;
}
.service-title,.album-title {
  margin-bottom: 55px;
  text-align: center;
}

/* section album */

.album,.button {
  background: var(--bg-portafolio);
}
.album-list {
  display: flex;
}
.album-item {
  background: var(--color-white);
}
.album-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
  color: var(--color-black);
}
.album-name {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.album-description {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--colombia-grey);
}

/* section footer */

.footbar {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bg-hero);
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--color-blue);
}
.location-footbar {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-white);
  text-decoration: none;
}
.contact-footbar {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-footbar:hover,
.contact-footbar:focus {
  color: var(--color-blue);
}

/* seccion portafolio */
.hidden {
  display: none;
}
.portfolio-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  border: 1px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-black);
  border-radius: 4px;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.button {
  border: none;
  padding: 6px 24px;
}
.button:hover,
.button:focus {
  cursor: pointer;
  background: var(--color-blue);
  color: var(--color-button);
}
.project-item {
  width: 370px; 
}
.project-item:not(:nth-child(n+7)) {
  margin-bottom: 30px;
}
.project-title {
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: var(--color-black);
}
.project-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.project-description {
  font-family: 'Roboto' , sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--colombia-grey);
}
.logo-footer {
  text-decoration: none;
}
